

<!-----Inicio do Carrossel------->

<section class="slider-wrapper">
  <div class="container-main">
    <div class="main-slider">
      <div class="slider-imagenes">
        <div class="slider-img activo"><img src="https://www.escmichaelis.pt/porto/primeira.jpg" alt="">
          <p class="caption">Porto-Vairão</p>
        </div>
        <div class="slider-img"><img
            src="https://vilanovaonline.pt/wp-content/uploads/2021/04/Marco-Alves_Barcelos-Panoramica-a-partir-de-Barcelinhos-7ec-e1618421699706.jpg"
            alt="">
          <p class="caption">Vairão-Barcelos</p>
        </div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/09/Ponte-de-Lima-1.jpeg" alt="">
          <p class="caption">Barcelos-Ponte De Lima</p>
        </div>
        <div class="slider-img"><img
            src="https://viajecaminodesantiago.com/wp-content/uploads/2021/02/20-camino-santiago-portugues-etapa-ponte-de-lima-rubiaes-1.jpg "
            alt="">
          <p class="caption">Ponte De Lima-Rubiães</p>
        </div>
        <div class="slider-img"><img
            src="https://fascinatingspain.com/wp-content/uploads/panoramica_galicia_pontevedra_tuy_BI-1170x350.jpg"
            alt="">
          <p class="caption">Rubiães-Tuí</p>
        </div>
        <div class="slider-img"><img src="https://fascinatingspain.com/wp-content/uploads/panoramica-pontevedra.jpg"
            alt="">
          <p class="caption">Tuí-Mos</p>
        </div>
        <div class="slider-img"><img
            src="https://media.quincemil.com/imagenes/2020/08/24005618/Foto-1.-Panor%C3%A1mica-de-PaDR%C3%93N-Shutterstock-1920x1080.jpg"
            alt="">
          <p class="caption">Mos-Pontevedra</p>
        </div>
        <div class="slider-img"><img src="https://www.riasbaixas.info/uploads/1/8/8/2/18820202/7861163_orig.jpg" alt="">
          <p class="caption">Pontevedra-Caldas de Reis</p>
        </div>

        <div class="slider-img"><img src="https://www.turismoasturias.es/documents/11022/4116852/home-camino-norte.jpg"
            alt="">
          <p class="caption">Caldas de Reis-Padrón</p>
        </div>
        <div class="slider-img"><img
            src="https://www.civitatis.com/f/espana/santiago-de-compostela/santiago-de-compostela.jpg" alt="">
          <p class="caption">Padrón-Santiago De Compostela</p>
        </div>
      </div>
      <div class="slider-controles">
        <div class="slider-controles-previous">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="35" height="35" x="0" y="0" viewBox="0 0 55.753 55.753"
            style="enable-background:new 0 0 35 35" xml:space="preserve" class="">
            <g>
              <g>
                <path d="M12.745,23.915c0.283-0.282,0.59-0.52,0.913-0.727L35.266,1.581c2.108-2.107,5.528-2.108,7.637,0.001
		c2.109,2.108,2.109,5.527,0,7.637L24.294,27.828l18.705,18.706c2.109,2.108,2.109,5.526,0,7.637
		c-1.055,1.056-2.438,1.582-3.818,1.582s-2.764-0.526-3.818-1.582L13.658,32.464c-0.323-0.207-0.632-0.445-0.913-0.727
		c-1.078-1.078-1.598-2.498-1.572-3.911C11.147,26.413,11.667,24.994,12.745,23.915z" fill="#FFFFFF"
                  data-original="#FFFFFF" class=""></path>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </g>
          </svg>
        </div>
        <div class="slider-controles-next">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="35" height="35" x="0" y="0" viewBox="0 0 55.752 55.752"
            style="enable-background:new 0 0 35 35" xml:space="preserve" class="">
            <g>
              <g>
                <path d="M43.006,23.916c-0.28-0.282-0.59-0.52-0.912-0.727L20.485,1.581c-2.109-2.107-5.527-2.108-7.637,0.001
		c-2.109,2.108-2.109,5.527,0,7.637l18.611,18.609L12.754,46.535c-2.11,2.107-2.11,5.527,0,7.637c1.055,1.053,2.436,1.58,3.817,1.58
		s2.765-0.527,3.817-1.582l21.706-21.703c0.322-0.207,0.631-0.444,0.912-0.727c1.08-1.08,1.598-2.498,1.574-3.912
		C44.605,26.413,44.086,24.993,43.006,23.916z" fill="#FFFFFF" data-original="#FFFFFF" class=""></path>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      </section>
      <div class="slider-count-imagenes">
        <div class="count-imagenes">
          <div class="count-imagenes-num activo"></div>
          <div class="count-imagenes-num"></div>
          <div class="count-imagenes-num"></div>
          <div class="count-imagenes-num"></div>
        </div>
      </div>
    </div>
  </div>
<!-----------Fim do Carrossel--------------------------->