<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>

<!---Inicio do Gallery--->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<h1 style="color: #1E3A8A;">Portuguese Camino</h1>
<!--Container-->
<div class="container">
  <!--Start code-->
  <div class="row">
    <div class="col-12 pb-5">
      <!--SECTION START-->
      <section class="row">
        <!--Start slider news-->
        <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
          <div id="featured" class="carousel slide carousel" data-ride="carousel">
            <!--dots navigate-->
            <ol class="carousel-indicators top-indicator">
              <li data-target="#featured" data-slide-to="0" class="active"></li>
              <li data-target="#featured" data-slide-to="1"></li>
              <li data-target="#featured" data-slide-to="2"></li>
              <li data-target="#featured" data-slide-to="3"></li>
            </ol>
            <!--carousel inner-->
            <div class="carousel-inner">
              <!--Item slider-->
              <div class="carousel-item active">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_left-cover-1 image-wrapper">
                      <img class="img-fluid w-100" src="/images/stage1-porto-vairao.jpeg" alt="Bootstrap news template">
                      </a>
                    </div>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <h2 class="h3 post-title text-white my-1">Here you can create your Portuguese Way experience.</h2>
                      </a>
                      <!-- meta title -->
                      <div class="news-meta">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Item slider-->
              <div class="carousel-item">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_left-cover-1 image-wrapper">
                      <img class="img-fluid w-100" src="/images/stage 2-vairao-barcelos.jpg" alt="Bootstrap news theme">
                      </a>
                    </div>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <h2 class="h3 post-title text-white my-1">Create your profile and upload your pictures.</h2>
                      </a>
                      <!-- meta title -->
                      <div class="news-meta">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Item slider-->
              <div class="carousel-item">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_left-cover-1 image-wrapper">
                      <img class="img-fluid w-100" src="/images/stage3-barcelos-ponte-de-lima.jpeg"
                        alt="Bootstrap blog template">
                      </a>
                    </div>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <h2 class="h3 post-title text-white my-1">Edit your pictures whenever you want.</h2>
                      </a>
                      <!-- meta title -->
                      <div class="news-meta">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--Item slider-->
              <div class="carousel-item">
                <div class="card border-0 rounded-0 text-light overflow zoom">
                  <div class="position-relative">
                    <!--thumbnail img-->
                    <div class="ratio_left-cover-1 image-wrapper">
                      <img class="img-fluid w-100" src="/images/stage4-ponte de lima-rubiaes.jpg"
                        alt="Bootstrap portal template">
                      </a>
                    </div>
                    <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                      <!--title-->
                      <h2 class="h3 post-title text-white my-1">Bom Caminho!</h2>
                      </a>
                      <!-- meta title -->
                      <div class="news-meta">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end item slider-->
            </div>
            <!--end carousel inner-->
          </div>
          <!--navigation-->
          <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--End slider news-->
        <!--Start box news-->
        <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
          <div class="row">
            <!--news box-->
            <div class="col-6 pb-1 pt-0 pr-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <div class="ratio_right-cover-2 image-wrapper">
                    <img class="img-fluid" src="/images/camino.2.3.jpg" alt="simple blog template bootstrap">
                    </a>
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <!--title-->
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--news box-->
            <div class="col-6 pb-1 pl-1 pt-0">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <div class="ratio_right-cover-2 image-wrapper">
                    <img class="img-fluid" src="/images/camino.2.2.jpg" alt="bootstrap templates for blog">
                    </a>
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <!--title-->
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--news box-->
            <div class="col-6 pb-1 pr-1 pt-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <div class="ratio_right-cover-2 image-wrapper">
                    <img class="img-fluid" src="/images/camino2.4.jpg" alt="bootstrap blog wordpress theme">
                    </a>
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <!--title-->
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--news box-->
            <div class="col-6 pb-1 pl-1 pt-1">
              <div class="card border-0 rounded-0 text-white overflow zoom">
                <div class="position-relative">
                  <!--thumbnail img-->
                  <div class="ratio_right-cover-2 image-wrapper">
                    <img class="img-fluid" src="/images/camino2.5.jpg" alt="blog website templates bootstrap">
                    </a>
                  </div>
                  <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                    <!-- category -->
                    <!--title-->
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--end news box-->
          </div>
        </div>
        <!--End box news-->
      </section>
      <!--END SECTION-->
    </div>
  </div>
  <!--end code-->
</div>

<div class="quotes">
    <h3>Camino famous quotes</h3>
    <br>
    <div class="quotes-p">
  <p>“The way to get started is to quit talking and start walking.”</p>
<p>“Walk slow, don’t rush. That place you have to reach is yourself.”</p>
<p>“Walk with the knowledge that you are never alone.”</p>
<p>"There is always light at the end of your journey."</p>
<br>


</div>
<div class="aboutUs">
  <h3>About Us</h3>
  <br>
  <p>Nuno Durão: <a href="https://www.linkedin.com/in/nuno-dur%C3%A3o-75259bb3/">Linkedin</a>
  <p><a href="https://github.com/NunoDurao">Git Hub</a>
  <p>Renato Pais: <a href="https://www.linkedin.com/in/renato-pais-656b1340/">Linkedin</a></p>
  <p><a href="https://github.com/Renatopais">Git Hub</a></p>
  </div>
  <script src='/js/script.js'></script>



