<html>

<head>
  <title class="logo">My Camino Ways</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <style>
    /* styles for the navbar */
    .navbar {
      background-color: #1E3A8A;
      /* set
      background color to dark blue */
      color: yellow !important;
    }

    /* styles for
      the navbar links */
    .navbar-nav .nav-link {
      color: yellow !important;
    }

    /*
      styles for the active navbar link */
    .navbar-nav .active>.nav-link {
      color: yellow !important;
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">My Camino Ways</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="/stages/create">Upload Photo<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/stages">Gallery<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/stages">Profile<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/auth/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Log In</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-main">
    <div class="main-slider">
      <div class="slider-imagenes">
        <div class="slider-img activo"><img
            src="https://www.escmichaelis.pt/porto/primeira.jpg" alt=""></div>
             <div class="caption">Legenda da Imagem 2</div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/10/bridge-5753249_1920-2.jpg" alt="">
        </div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/09/Ponte-de-Lima-1.jpeg" alt=""></div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/10/IMG_20210818_114309.jpg" alt=""></div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/10/IMG_20210819_143114.jpg" alt=""></div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/10/IMG_20210820_135015-1.jpg" alt="">
        </div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/12/PonteVedra-1.jpeg " alt=""></div>
        <div class="slider-img"><img
            src="https://caminhoportuguesdesantiago.eu/wp-content/uploads/2021/12/Caldas-de-Reyes.jpeg  " alt=""></div>
        <div class="slider-img"><img
            src="https://www.civitatis.com/f/espana/santiago-de-compostela/santiago-de-compostela.jpg"
            alt=""></div>

      </div>
      <div class="slider-controles">
        <div class="slider-controles-previous">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="35" height="35" x="0" y="0" viewBox="0 0 55.753 55.753"
            style="enable-background:new 0 0 35 35" xml:space="preserve" class="">
            <g>
              <g>
                <path d="M12.745,23.915c0.283-0.282,0.59-0.52,0.913-0.727L35.266,1.581c2.108-2.107,5.528-2.108,7.637,0.001
		c2.109,2.108,2.109,5.527,0,7.637L24.294,27.828l18.705,18.706c2.109,2.108,2.109,5.526,0,7.637
		c-1.055,1.056-2.438,1.582-3.818,1.582s-2.764-0.526-3.818-1.582L13.658,32.464c-0.323-0.207-0.632-0.445-0.913-0.727
		c-1.078-1.078-1.598-2.498-1.572-3.911C11.147,26.413,11.667,24.994,12.745,23.915z" fill="#FFFFFF"
                  data-original="#FFFFFF" class=""></path>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </g>
          </svg>
        </div>
        <div class="slider-controles-next">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.com/svgjs" width="35" height="35" x="0" y="0" viewBox="0 0 55.752 55.752"
            style="enable-background:new 0 0 35 35" xml:space="preserve" class="">
            <g>
              <g>
                <path d="M43.006,23.916c-0.28-0.282-0.59-0.52-0.912-0.727L20.485,1.581c-2.109-2.107-5.527-2.108-7.637,0.001
		c-2.109,2.108-2.109,5.527,0,7.637l18.611,18.609L12.754,46.535c-2.11,2.107-2.11,5.527,0,7.637c1.055,1.053,2.436,1.58,3.817,1.58
		s2.765-0.527,3.817-1.582l21.706-21.703c0.322-0.207,0.631-0.444,0.912-0.727c1.08-1.08,1.598-2.498,1.574-3.912
		C44.605,26.413,44.086,24.993,43.006,23.916z" fill="#FFFFFF" data-original="#FFFFFF" class=""></path>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <div class="slider-count-imagenes">
        <div class="count-imagenes">
          <div class="count-imagenes-num activo"></div>
          <div class="count-imagenes-num"></div>
          <div class="count-imagenes-num"></div>
          <div class="count-imagenes-num"></div>
        </div>
      </div>
    </div>
  </div>





















  <div class="container">
    {{{body}}}
  </div>
  <script src='/js/script.js'></script>
</body>

</html>