<h2>Photo Info</h2>
<div class="details-box">
  <h3 class="names">{{user.username}}</h3>
<button onclick="location.href='/auth/logout'">Logout</button>

</div>

{{#each userStages}}
  <img src="{{this.imageUrl}}" alt="" />
  <p>{{this.location}}</p>
  <p>{{this.comments}}</p>
{{/each}}


