<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #e4ea2cec;
    background-color: #1e3b8ae5;
    overflow-x: hidden
}

a {
    cursor: pointer;
    transition: all 200ms linear
}

a:hover {
    text-decoration: none
}

.link {
    color: #fff
}

.link:hover {
    color: #95ea2c
}

p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7
}

h4 {
    font-weight: 600
}

h6 span {
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700
}

.section {
    position: relative;
    width: 100%;
    display: block
}

.full-height {
    min-height: 100vh
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 2px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: #e4ea2cec
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 10%;
    color: #1e3b8ae5;
    background-color: #2a2b38;
    content:'';
    z-index: 20;
    font-size: 12px;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease
}

.checkbox:checked+label:before {
    transform: translateX(44px) rotate(-270deg)
}

.card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 40px
}

.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out
}

.login-div {
    width: 150px
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: #2a2b38;
    position: absolute;
    border-radius: 0px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden
}

.card-back {
    transform: rotateY(180deg)
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg)
}

.center-wrap {
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block
}

.form-group {
    position: relative;
    display: block;
    margin: 0;
    padding: 0
}

.form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2)
}

.form-style:focus,
.form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2)
}

.input-icon {
    position: absolute;
    top: 0;
    left: 18px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: #EA2C62;
    transition: all 200ms linear
}

.form-group input:-ms-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input::-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input:-moz-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input::-webkit-input-placeholder {
    color: #c4c3ca;
    opacity: 0.7;
    transition: all 200ms linear
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: all 200ms linear
}

.btn {
    border-radius: 4px;
    height: 48px;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #1e3b8ae5;
    color: #e4ea2cec;
    box-shadow: 0 8px 24px 0 rgba(18, 248, 173, .2)
}

.btn:active,
.btn:focus {
    background-color: #1e3b8ae5;
    color: #e4ea2cec;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

.btn:hover {
    background-color: #e4ea2cec;
    color: #1e3b8ae5;
    box-shadow: 0 8px 24px 0 rgba(255, 255, 255, .2)
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear
}

.logo img {
    height: 26px;
    width: auto;
    display: block
}


</style>

<h2>Add a Photo</h2>

<form action="/stages/create" method="post" enctype="multipart/form-data">

  <div>
    <label for="location">Location:</label>
    <select name="location" id="location">
      <option value="Porto-Vairao">Porto - Vairao</option>
      <option value="Vairao-Barcelos">Vairao-Barcelos</option>
      <option value="Barcelos-Ponte de Lima">Barcelos-Ponte de Lima</option>
      <option value="Ponte de Lima-Rubiaes">Ponte de Lima-Rubiaes</option>
      <option value="Rubiaes-Tui">Rubiaes-Tui</option>
      <option value="Tui-Mos">Tui-Mos</option>
      <option value="Mos-Pontevedra">Mos-Pontevedra</option>
      <option value="Pontevedra-Caldas de Reis">Pontevedra-Caldas de Reis</option>
      <option value="Caldas de Reis-Padron">Caldas de Reis-Padron</option>
      <option value="Padron-Santiago de Compostela">Padron-Santiago de
        Compostela</option>
    </select>
  </div>

  <div>
    <label for="comments" style="position: relative; left: -50px; top: -40px;">Comments:</label>
    <textarea id="w3review" name="w3review" rows="3" cols="50" style="margin-left: -50px"></textarea>
  <br>
  
  </div>

  <div>
    <label for="uploadPhoto">Upload Photo:</label>
    <input type="file" name="imageUrl" id="uploadPhoto" />
  </div>

  <button type="submit" class="btn">Submit</button>
</form>