<h2>Add a Photo</h2>

<form action="/stages/create" method="post" enctype="multipart/form-data">
<div>
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
</div>

<div>
  <label for="location">Location:</label>
  <input type="text" name="location" id="location">
</div>

<div>
  <label for="comments">Comments:</label>
  <input type="text" name="comments" id="comments">
</div>

<div>
  <label for="uploadPhoto">Upload Photo:</label>
  <input type="file" name="imageUrl" id="uploadPhoto">
</div>

  <button type="submit" class="btn">Submit</button>
</form>